<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <diagnostics performanceCounters="All">
      <messageLogging logEntireMessage="false" logMalformedMessages="true" logMessagesAtTransportLevel="true" maxSizeOfMessageToLog="655360"/>
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleServiceBehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="5000" maxConcurrentSessions="5000" maxConcurrentInstances="5000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="SampleConfig" receiveTimeout="10:15:00" listenBacklog="5000" maxBufferSize="1331072" maxConnections="5000" maxReceivedMessageSize="1331072">
          <reliableSession enabled="false"/>
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="SampleServiceBehavior" name="Sample.Services.Services.EmployeeService">
        <endpoint address="net.tcp://localhost:9003/Service/EmployeeService" binding="netTcpBinding" bindingConfiguration="SampleConfig" name="SampleConfig" contract="Sample.Services.DataContract.IEmployee"/>
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="SAMPLEDBContext" connectionString="Data Source=(local);Initial Catalog=SAMPLEDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
